html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  color: #fff;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  color: #145b1d;
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: .75em;
  background-size: 52px auto;
}

.banner {
  background:
    linear-gradient(to top, rgba(16, 52, 41, .8) 20%, rgba(16, 52, 41, 0) 60%),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
  background-size: cover;
}

.banner-content {
  background: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-position: 10px 180px;
  background-size: 100px auto;
  padding-top: 300px;
  border-bottom: 3px solid #2d5a4d;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
